*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,Helvetica,sans-serif;

}

.dashboard{

display:flex;

background:#F5F7FA;

min-height:100vh;

}

.sidebar{

width:260px;

background:#0e1d4b;

color:white;

padding:40px 25px;

}

.sidebar h2{

margin-bottom:40px;

text-align:center;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:18px;

margin-bottom:10px;

border-radius:12px;

cursor:pointer;

transition:.3s;

}

.sidebar li:hover{

background:rgba(255,255,255,.2);

}

.activo{

background:white;

color:#305CDE;

font-weight:bold;

}

.contenido{

flex:1;

padding:45px;

}

.contenido h1{

font-size:35px;

color:#2F3B52;

margin-bottom:10px;

}

.cards{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:25px;

margin-top:40px;

margin-bottom:40px;

}

.card{

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

text-align:center;

}

.card h3{

margin-bottom:15px;

color:#0d1c46;

}

.card span{

font-size:30px;

font-weight:bold;

}

.contenedor{

display:grid;

grid-template-columns:2fr 1fr;

gap:30px;

}

.panel{

background:white;

padding:35px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.panel h2{

margin-bottom:20px;

color:#11204d;

}

.foto{

font-size:80px;

text-align:center;

margin:20px 0;

}

.panel button{

width:100%;

padding:15px;

border:none;

background:#0e1c46;

color:white;

border-radius:12px;

margin-top:20px;

cursor:pointer;

transition:.3s;

}

.panel button:hover{

background:#2246B8;

}

@media(max-width:1000px){

.dashboard{

flex-direction:column;

}

.sidebar{

width:100%;

}

.cards{

grid-template-columns:repeat(2,1fr);

}

.contenedor{

grid-template-columns:1fr;

}

}

@media(max-width:650px){

.cards{

grid-template-columns:1fr;

}

}